/* Base styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: skyblue;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: #9d00ff;
}

input[type="text"]:focus-visible {
    border-color: #d345b7!important;
    box-shadow: 5px 5px 30px #d345b656;
    transition: box-shadow .3s ease-in;
}

button {
    padding: 10px 20px;
    background-color: #9d00ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 1s ease-out;
    border-radius: 10px;
}

button:hover {
    background-color: #d345b7;
    transition: background-color 1s ease-in;
}

#characterInfo, #filmInfo {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

li:last-child {
    border-bottom: none;
}

.links {
    text-align: center;
    cursor: pointer;
}

.links a {
    padding: 10px 15px;
    background-color: #9d00ff;
    color: white;
    border-radius: 8px;
    margin: 10px;
}

.links a:last-child {
    background-color: #d345b7;
}

.links a:hover {
    text-decoration: none;
}

/* Responsive styles */

@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    input[type="text"] {
        padding: 8px;
        font-size: 14px;
    }
    
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
